/* Configurações Globais */

/* Resets */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Root (Definir as Cores) */
:root {
    /* Produto */
    --brand-color-light: #60a5fa;
    --brand-color-dark: #1D4ED8;

    /* Base */
    --bg-color: #0F172A;
    --stroke-color: #1E293B;

    /* Textos */
    --text-color-primary: #F1F5F9;
    --text-color-secondary: #CBD5E1;

    /* Fontes */
    --font-base: "Archivo", sans-serif;

}
