img {
    max-width: 100%;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
 }


.imgs {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.tag {    display: inline-block;
    background: #2563eb;
    color: #fff;
    font-size: 12px;
    font-weight: 600;
    padding: 6px 10px;
    border-radius: 6px;
    margin-bottom: 12px;
    width: fit-content;
    position: absolute;
}

.card1 {

    position:relative;
}

h2{
    margin-top: -30px;
    position: absolute;
}

