/* Fontes */
@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap');

/* Imports de arquivos */
@import url('/css/buttons.css');
@import url('/css/card.css');
@import url('/css/footer.css');
@import url('/css/global.css');
@import url('/css/header.css');
@import url('/css/hero.css');
@import url('/css/layout.css');
@import url('/css/sessao2.css');
@import url('/css/sessao3.css');